#bg {
    position:relative;
}
.bgi {
    width:100%;
}
#header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    position:absolute;
    background-color: black;
    color: rgb(221, 186, 27);
    left:10px;
    top:5px;
    border-radius: .42rem;
    border-style:ridge;
}
.thumb {
    position:absolute;
    left:10px;
    bottom:5px;
    background-color: white;
    border-radius: .42rem;
    border-style: groove;
}
#display {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    background-color: rgb(220, 229, 185);
    color: black;
    position: absolute;
    right: 20px;
    top: 5px;
    border-radius: .42rem;
    border-style:double;
}
